#header {
    font-family: "effra", Varela Round,arial,sans-serif;
    color: #696969;
    font-size: 50px;
    tex-align: center;
    margin-top: -10px;
    margin-bottom: 45px;
}


.frame {
    height: auto;
    width: auto;
    border: 1px solid red;
    white-space: nowrap;
    text-align: center; margin: 1em 0;
    padding: 50px, 50px, 50px, 50px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


img {
    vertical-align: middle;
    max-height: 750px;
    max-width: 75%;
    margin: 10px, 10px, 5px, 10px;
}

@media screen and (min-height: 1080px) {
 img {
     max-height:950x
    }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.small {
 max-height: 250px;   
}

.caption {
 font-family: Helvetica, Arial, sans-serif;
 font-size: 10px;
 margin-bottom: 135px;
}

body
{
 background-color: #f7f8fa;	
}
