#ghostery-purple-box {display:none !important}

body
{
background-color: #fff;	
font-family: Arial,sans-serif;
color: #696969;
}

#header {
    text-align: center;
    margin-top: 0.5vh;
}


#name {
     font-size: 5.5vh;   
}

h1 {
   font-weight: normal;
   font-size: inherit;
    margin-block-start: 0vh;
    margin-block-end: 0vh;
    
}


h2 {
    font-weight: normal;
    font-size: 1.95vh;
    margin-block-start: 0vh;
    margin-block-end: 0vh;
    
}


h4 {
    font-weight: normal;
     margin-block-start: 0.25vh;
     margin-block-end: 0vh;
     font-size: 1.55vh;
}

.bannertabs {
    font-size: 2.3vh;
}


.banner :link, a, a:visited {
    color: #696969;
    padding: 0.5vh 2vh 0.5vh 2vh;
    text-decoration: none;
}

.banner a:hover {
    color: #191919;
}

.frame {
    #height: auto;
    #width: auto;
    #border: 1px solid red;
    white-space: nowrap;
    text-align: center;
    padding: 2vh 2vh 15vh 2vh;
}

.hero {
    padding: 2vh 2vh 25vh 2vh;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


img {
    vertical-align: middle;
    max-height: 82vh;
    max-width: 83vw;
    margin: 0vh 1vh 0.5vh 1vh;
}

div {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.course {
    height: auto;
    width: 75vw;
    #border: 1px solid red;
    text-align: left;
    margin-top: 3vh;
    margin-bottom:5vh;
}

.page_name {
    width: 100%;
    text-align: center;
    font-size: 3vh;
    margin-block-start: 7vh;
    margin-block-end: 1.5vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;

}

.small {
 max-width: 20vw;   
}

.caption {
 font-family: Helvetica, Arial, sans-serif;
 font-size: 1.5vh;
}

.center {
 text-align: center;   
}

div.gallery {
  margin-top: 1vh;
  margin-bottom: 3vh;
}

div.gallery img {
  width: 90%;
  max-height: 10%;
  height: auto;
  margin: 0;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (min-width: 1000px) {
              .course_desc {
               max-width:65%
              }
}
@media only screen and (max-width: 800px) {
                #name {
                font-size: 6.5vh;               
                }
                
                .page_name {
                  font-size: 5vh;
                  margin-bottom: 3vh;
                  }


                img {
                    
                    max-height: 72vh;
                }
    
              .responsive {
                width: 49.99999%;
              }
}
@media only screen and (max-width: 500px) {
                                
               img {
                     max-height: 62vh;
                     max-width: 83vw;
                }
                                
                .page_name {
                  font-size: 3vh;
                  }

                .course {
                 width: 85vw;
                }
    
                .small {
                     max-width: 65vw;   
                }
                
                  .responsive {
                     width: 100%;
                  }
    
            }

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
