@import 'https://fonts.googleapis.com/css?family=Roboto:300';
#ghostery-purple-box {display:none !important}
body
{
background-color: #fff;	
font-family: Roboto, Corbel, Arial, sans-serif;
color: #696969;
}

html {
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
}


#header {
    text-align: center;
    margin-top: 0.5vh;
    min-height: 11vh;
}

#name {
     font-size: 5.5vh;   
}

.banner a:empty {
	padding: 0.5vh 0;	
}

h1 {
   font-weight: normal;
   font-size: inherit;
    margin-block-start: 0vh;
    margin-block-end: 0vh;
    
}
h2 {
    font-weight: normal;
    font-size: 1.95vh;
    margin-block-start: 0vh;
    margin-block-end: 0vh;
    
}
h4 {
     font-weight: normal;
     margin-block-start: 0.25vh;
     margin-block-end: 0vh;
     font-size: 1.55vh;
}

.subheading {
     font-weight: 700;
     margin-block-start: 0.25vh;
     margin-block-end: 0.25vh;
     font-size: 2.1vh;
}

.bannertabs {
    font-size: 2.3vh;
}

.banner :link, a, a:visited {
    color: #696969;
    padding: 0.5vh 2vh 0.5vh 2vh;
    text-decoration: none;
}
.banner a:hover {
    color: #191919;
}
.frame {
    text-align: center;
    padding: 2vh 2vh 15vh 2vh;
}
.hero {
    padding: 2vh 2vh 25vh 2vh;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
img {
    vertical-align: middle;
    max-height: 76vh;
    max-width: 83vw;
    margin: 1vh 1vh 0.5vh 1vh;
}
div {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.course {
    height: auto;
    width: 75vw;
    text-align: left;
    margin-top: 3vh;
    margin-bottom:5vh;
}
.page_name {
    width: 100%;
    text-align: center;
    font-size: 4vh;
    margin-block-start: 7vh;
    margin-block-end: 1.5vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
}
.course :link {
    padding: 0;
}
.small {
 max-width: 20vw;   
}
.caption {
 font-family: Helvetica, Arial, sans-serif;
 font-size: 1.5vh;
}

.course_desc {
 clear:both;	
}

.center {
 text-align: center;   
}

.inline_img {
    float: right;
    max-height: 40vh;
    max-width: 55vw;
    margin: 0 6vw 2vh 6vw;
}

div.gallery {
  margin-top: 1vh;
  margin-bottom: 3vh;
}
div.gallery img {
  max-width: 18vw;
  max-height: 45vh;
  width: auto;
  height: auto;
  margin: 0;
}
div.desc {
  padding: 15px;
  text-align: center;
}
* {
  box-sizing: border-box;
}
.responsive {
  text-align: center;
  float: left;
  width: 24.99999%;
}

form {
 	margin 0 0 0 30vw;   
}



.container {
 text-align: left;
 white-space: normal;
 margin: 10vh 20vw 0 20vw;
 font-size: 2vh;
 width: auto;
 clear: both;
}

.container .input * {
 	padding: 0 1vw 0 1vw;
 	clear: both;
 	margin: 0.5vh 1vw;
}

.submitElement {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 46%;
}

input {
 	height: 3.5vh;
 	width: 18vw;
 	font-size: 2vh;
        margin: 0 0 1vh 0;
	padding-left: 0.5vh;
	color: #686868;   
	text-align: left;
 	border: 0.05vh solid #DDD;
	box-shadow: none;
	font-family: Roboto, Corbel, Arial, sans-serif;
}

textarea {
        width: 25vw;
        height: 17vh;
 	font-size: 2vh;
	margin: 0 0 0.5vh 0;
	padding-left: 0.5vh;
	color: #686868;   
	text-align: left;
 	border: 0.05vh solid #DDD;
	box-shadow: none;
    	font-family: Roboto, Corbel, Arial, sans-serif;
}

.col-form-label {
	display: none;	
}

::placeholder {
 	opacity: 70%;
}

.error {
 display:none;
 height: 0;
 position: absolute !important;
 top: -9999px !important;
 left: -9999px !important;
}

button {
    	box-shadow: inset 0px 0px 0px -50px #ffffff;
   	background: linear-gradient(to bottom, #ededed 5%, #DDD 100%);
	background-color: #DDD;
	border-radius: 0.6vh;
	border: 1px solid #dcdcdc;
	cursor: pointer;
	color: #686868;
	padding: 0.3vh 2vw 0.3vh 2vw;
	text-decoration: none;
    	font-size: 2vh;                              
    	height: 3.5vh;
    	text-align: center;
	width: 10vw;
}

.alert {
	height: 0;
	position: relative;
}

.alert-success {
	opacity:0;
	#color: #006600;
	animation: fadeOut ease 5s;
}

.alert-danger {
	color: red;
}

.help-block {
	   position: absolute !important;
	   top: -9999px !important;
	   left: -9999px !important;
	}

@keyframes fadeOut {
 0% {
    opacity:0;
	}
 1% {
    opacity:1;
  }
80% {
    opacity: 1;
  }
  100% {
    opacity:0;
  }
}


button:hover {
	background:linear-gradient(to bottom, #DDD 5%, #ededed 100%);
	background-color:#DDD;
}
button:active {
	position:relative;
	top:1px;
}

@media only screen and (min-width: 1200px) {

                input {
                    width:  18vw;
                }
                textarea {
                    width:  22vw;
                }

}

@media only screen and (min-width: 1024px) {
              .course_desc {
               max-width:65%
              } 
               
                input {
                    width:  22vw;
                }
	
                textarea {
                    width:  26vw;
                }
}


@media only screen and (max-width: 1024px) {

                input {
                    width:  28vw;
                }
	
                textarea {
                    width:  36vw;
                }
	
                .submitElement {
			    max-width: 55%;
		}
    		.caption {
		 font-size: 1.8vh;	
	        }
	
                .container {
                 margin: 10vh 10vw 0 10vw;
                }

		button {
			width: 10vw;		
		}
}

@media only screen and (max-width: 900px) {

                input {
                    width: 30vw;
                }
	
                textarea {
                    width:  38vw;
                }

}

@media only screen and (max-width: 812px) {
                #name {
                font-size: 6.5vh;               
                }
                
                .page_name {
                  font-size: 5vh;
                  margin-bottom: 3vh;
                  }
                img {
                    
                    max-height: 65vh;
                }
	
                input {
                    width: 35vw;
                }
	
                textarea {
                    width:  70vw;
                }
	
		.submitElement {
			    max-width: 59%;
		}
              .responsive {
                width: 49.99999%;
              }
    
	       div.gallery img {
			  max-width: 36vw;
	       }

                .container {
                 margin: 10vh 8vw 0 8vw;
                }
		
}

@media only screen and (max-width: 750px) {
	
                input {
                    width: 40vw;
                }
	
                textarea {
                    width:  55vw;
                }
            .container {
                 margin: 10vh 4vw 0 4vw;
                }
	
}

@media only screen and (max-width: 500px) {
                                
               img {
                     max-height: 61vh;
                     max-width: 83vw;
                }
                                
                .page_name {
                  font-size: 3vh;
                  }
                .course {
                 width: 85vw;
                }
    
              
                  .responsive {
                     width: 100%;
                  }
    
	        div.gallery img {
			  max-width: 83vw;
	        }
	
		.caption {
		 font-size: 1.8vh;	
	        }
	
                form {
                 margin 0 0 0 10vw;   
                }
	
                input {
                    width: 45vw;
                }

                textarea {
                    width:  65vw;
                }
	
                button {
		  width: 20vw;
                }
	
		.inline_img {
		    max-width: 35vw;
		}

}

@media only screen and (max-width: 375px) {

	.submitElement {
			    max-width: 80%;
		}

}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
