<!-- content to be placed inside <body>…</body> -->
<head>
</head>
<body>
<div id="banner">

	<p id="logo"><img src="http://i.imgur.com/1ys4YkK.png?1"/></p>
	<p id="name">BluePrint</p>

	<div id="banner-rule"><!-- Don't collapse this to empty element --></div>
	
	
	    <table id="banner-tabs">
	    <tr>
	       <td>
	          <a href="http://result.dabblet.com/gist/11296031/a087b361da006608e87079d6c055b3c7c3c50872">home</a>
	       </td>
	        <td>
	          <a href="http://www.murex.com">gallery</a>
	        </td>
	        <td>
	          <a href="www.murex.com">about</a>
	        </td>
	        <td>
	          <a href="#" onclick="javascript: void window.open('http://www.talonro.com','1398450585881','width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');">Play</a>
	        </td>
	        <td>
	          <a href="#" onclick="javascript: void window.open('http://www.talonro.com','1398450585881','width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');">Games</a>
	        </td>
	     </tr>   
	    </table>
</div>

<!--
<table>
	<tr id="menu">
	<td>
		<a href="www.murex.com">Murex</a>
		<a href="www.murex.com">2</a>
		<a href="#" onclick="javascript: void window.open('http://www.talonro.com','1398450585881','width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');">Play</a>
		<a href="#" onclick="openWindow();">Murex</a>
		<a href="www.murex.com">Murex</a>
		<a href="www.murex.com">6</a>
		<a href="www.murex.com">Murex</a>
	</td>
	</tr>
</table>-->
</body>
